@CHARSET "UTF-8";
body{background-color: #F1F1F1}
.clearFloat{width: 0;height: 0;clear: both;}
.header,.footer{width:70%; margin:0px auto;}
.clearFloat{width: 0;height: 0;clear: both;}	
.footer{text-align:center;background-color:white;}
.footer li{padding-top:5px; margin:0px;}
